[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/xml"]
	path = .vim/bundle/xml
	url = git@github.com:othree/xml.vim.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby.git
